<%- include('../partials/header') %>

<form action="/weeks/<%=week.id%>?_method=PUT" method="POST">
    <!--  NOTE: the form is pre-populated with values for the server-->
    Name: <input type="text" name="name" value="<%=week.name%>"/><br/>
    Color: <input type="text" name="color" value="<%=week.color%>"/><br/>
    Is Ready To Eat:
    <input type="checkbox" name="readyToEat"
        <% if(week.readyToEat === true){ %>
            checked
        <% } %>
    />
    <br/>
    <input type="submit" name="" value="Submit Changes"/>
</form>

<%- include('../partials/header') %>