<%- include('../partials/header') %>

<h1>Weeks index page</h1>
<ul>
  <% weeks.forEach(function(week) { %>
  <li>
    <a href="/weeks/<%= week._id; %>">Week</a><br>
    Start Day: <%= week.startDay %><br>
    Month: <%= week.month %><br>
    Year: <%= week.year %><br>
    Weekday: <%= week.weekday %><br>
    Date: <%= week.weekdate %><br>
    End Day: <%= week.endDay %>

    <!-- ADD DELETE FORM HERE -->
    <form action="/weeks/<%= week._id%>?_method=DELETE" method="POST">
      <input type="submit" value="DELETE" />
    </form>
    <!-- weeks/5e5a93cd12675b4c0efcb17e/edit -->
    <a href="/weeks/<%= week._id%>/edit">Edit</a>
  </li>
  <% }); %>
</ul>

<br><br>

<a href="/weeks/new">Add New Week</a>

  <%- include('../partials/footer') %>