<%- include('../partials/header') %>

<form action="/weeks" method="POST">
  <label>
    <h3>First Day:</h3>
    <input type="date" name="startDay" required /><br />
  </label>
  <label>
    <h3>Habits: </h3>
    
    <% let habitCollection = []; %>
    <% weeks.forEach(function(week) { %>
    <%   week.habits.forEach(function(habit) { %>
    <%     if (!habitCollection.includes(habit.content)) { %>
    <%       habitCollection.push(habit); %>
    <%     } %>
    <%   }); %>
    <%   habitCollection.sort(function(a, b) { %>
    <%     a = a.content %>
    <%     b = b.content %>
    <%     if (a < b) { %>
    <%       return -1; %>
    <%     } else if (a > b) { %>
    <%       return 1; %>
    <%     } else { %>
    <%       return 0; %>
    <%     } %>
    <%   }); %>
    <% }); %>

    <% habitCollection.forEach(function(habit) { %>
      <div class="habit-select">
        <label for="<%= habit.content %>Id"><%= habit.content %></label>
        <input type="checkbox" name="habitList" value="<%= habit.content %>" id="<%= habit.content %>Id">
      </div>
    <% }) %>

  </label>
  <input type="submit" name="" value="Create Week" />
</form>

  <%- include('../partials/footer') %>