<%- include('../partials/header') %>

<div class="week-view">
  <% days.forEach(function(day) { %>
    <div class="day <%= day.weekday.toLowerCase() %>">

      <div class="heading">
        <h2 class="weekday"><%= day.weekday %></h2>
        <h2 class="weekdate"><%= day.weekdate %></h2>
      </div>

      <div class="day-content">
        <div class="first">
          <h3>Entries</h3>
          <ul>
            <% day.entries.forEach(function(entry) { %>
              <li>
                <p><%= entry.content %></p>
                <p class="category <%= entry.category %>Cat">Category: <%= entry.category %></p>
                <div class="buttons">
                  <a class="submit-icon" href="/weeks/<%= week._id %>/days/<%= day._id %>/entries/<%= entry._id %>/edit"><span title="Edit Entry"><i class="fas fa-edit"></i></span></a>
                  <form action="/weeks/<%= week._id %>/days/<%= day._id %>/entries/<%= entry._id %>?_method=DELETE" method="post">
                    <button class="submit-icon" type="submit"><span title="Delete Entry"><i class="fas fa-trash-alt"></i></span></button>
                  </form>
                </div>
              </li>
            <% }); %>
          </ul>
          <div class="add-new">
            <a class="submit-icon" href="/weeks/<%= week._id %>/days/<%= day._id %>/entries/new"><i class="fas fa-plus"></i> Add New</a>
          </div>
        </div>

        <div class="second">
          <h3>Habits</h3>
          <% habits.forEach(function(habit) { %>
            <% let shortDay = day.weekday.slice(0, 3).toLowerCase() %>
            <% dayStatus = shortDay + 'Complete' %>
            <div>
              <form action="/weeks/<%= week._id %>/habits/<%= habit._id %>?_method=PUT" method="post">
                <label for="habitCheck"><%= habit.content %></label>
                <input type="checkbox" name="<%= dayStatus %>" id="habitCheck" <%- habit[dayStatus] ? 'checked' : ''%>>
                
                <button class="submit-icon" type="submit"><span title="Mark complete for today"><i class="fas fa-arrow-right"></i></span></button>
              </form>
            </div>
          <% }); %>
        </div>

      </div>
    </div>
    <% }); %>
</div>

<% const shortDays = ['sun', 'mon', 'tue', 'wed', 'thu', 'fri', 'sat']; %>

<div class="trackers">
  <div class="tracker-section">
    <div class="heading">
      <h2>Habit Tracker</h2>
    </div>
    <div class="container">
      <table>
        <tr>
          <th class="no-border"></th>
          <th class="no-border"></th>
          <% shortDays.forEach(function(day) { %>
            <th><%= day.charAt(0).toUpperCase() + day.slice(1) %></th>
          <% }); %>
        </tr>
        <% habits.forEach(function(habit) { %>
          <tr>
            <td class="habit-table-label no-border"><%= habit.content %></td>          
            <td class="no-border">
              <a class="submit-icon" href="/weeks/<%= week._id %>/habits/<%= habit._id %>/edit"><span title="Edit Habit"><i class="fas fa-edit"></i></span></a>
              <form action="/weeks/<%= week._id %>/habits/<%= habit._id %>?_method=DELETE" method="post">
                <button class="submit-icon" type="submit"><span title="Delete Habit"><i class="fas fa-trash-alt"></i></span></button>
              </form>
            </td>
            
            <% shortDays.forEach(function(day) { %>
              <td class="table-body <%= habit[day + 'Complete'] ? 'checked' : '' %>">
                <%= habit[day + 'Complete'] ? 'X' : '' %>
              </td>
            <% }); %>

          </tr>
        <% }); %>
      </table>
      <div class="add-new">
        <a class="submit-icon" href="/weeks/<%= week._id %>/habits/new"><i class="fas fa-plus"></i> Add New</a>
      </div>
    </div>
  </div>
  
  <div class="tracker-section">
    <div class="heading">
      <h2>Weekly Goals</h2>
    </div>
    <div class="container">
      <ul>
        <% goals.forEach(function(goal) { %>
          <li>
            <%= goal.content %>
            <a class="submit-icon" href="/weeks/<%= week._id %>/goals/<%= goal._id %>/edit"><span title="Edit Goal"><i class="fas fa-edit"></i></span></a>
                <form action="/weeks/<%= week._id %>/goals/<%= goal._id %>?_method=DELETE" method="post">
                  <button class="submit-icon" type="submit"><span title="Delete Goal"><i class="fas fa-trash-alt"></i></span></button>
                </form>
          </li>
        <% }); %>
      </ul>
      <div class="add-new">
        <a class="submit-icon" href="/weeks/<%= week._id %>/goals/new"><i class="fas fa-plus"></i> Add New</a>
      </div>
    </div>
  </div>
</div>

  <%- include('../partials/footer') %>