<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <h1>Weeks show page</h1>
  <div>
    Start Day: <%= week.startDay %><br>
    Month: <%= week.month %><br>
    Year: <%= week.year %><br>
    Weekday: <%= week.weekday %><br>
    Date: <%= week.weekdate %><br>
    End Day: <%= week.endDay %>
  </div>
  
  <% days.forEach(function(day) { %>
    <% console.log(`day id is ${day._id}`); %>
    <div class="day">
      <h2><%= day.weekday %> <%= day.weekdate %></h2>
      <div class="entries">
        <ul>
          <% day.entries.forEach(function(entry) { %>
            <li><%= entry.content %>
              <% console.log(`entry id is ${entry._id}`); %>

              <a href="/days/<%= day._id %>/entries/<%= entry._id %>/edit">Edit</a><br><br>
              <form action="/days/<%= day._id %>/entries/<%= entry._id %>?_method=DELETE" method="post">
                <button type="submit">X</button>
              </form>
            </li>
          <% }); %>
        </ul>

        <a href="/days/<%= day._id %>/entries/new">New</a>
      </div>
    </div>
  <% }); %>

  <nav>
    <a href="/weeks">Back to Weeks Index</a>
  </nav>
</body>

</html>