<%- include('../partials/header') %>

<div class="center-section">
    <div class="heading">
        <h2>Edit This Goal</h2>
    </div>
    <div class="container">
        <form action="/months/<%= monthId %>/weeks/<%= weekId %>/goals/<%= goalId %>?_method=PUT" method="POST">
            <label>
                <p>Edit Goal:</p>                 
                <input type="text" name="content" value="<%= editGoal.content %>">
            </label>
            <button class="submit-icon lower" type="submit"><i class="fas fa-arrow-right"></i> Update</button>
        </form>
    </div>
</div>

<%- include('../partials/footer') %>