<%- include('../partials/header') %>

<h1>Edit Entry</h1>
<form action="/weeks/<%= weekId %>/days/<%= dayId %>/entries/<%= entryId %>?_method=PUT" method="POST">
    <label>
        Updated Entry: 
        <input type="text" name="content">
    </label>
    <label>
        Updated Category: 
        <input type="text" name="category">
    </label>
    <input type="submit" name="" value="Add Entry" />
</form>

<%- include('../partials/footer') %>