<%- include('../partials/header') %>

<div class="center-section">
    <div class="heading">
      <h2>Edit This Entry</h2>
    </div>
    <div class="container">
        <form action="/weeks/<%= weekId %>/days/<%= dayId %>/entries/<%= entryId %>?_method=PUT" method="POST">
            <div class="first">
                <label>
                    <p>Updated Entry:</p>
                    <textarea name="content"></textarea>
                </label>
            </div>
            <div class="second">
                <label>
                    <p>Updated Category:</p>
                    <input type="text" name="category">
                </label>
            </div>
                <input type="submit" name="" value="Update Entry" />
        </form>
    </div>
  </div>


<%- include('../partials/footer') %>