<%- include('../partials/header') %>

<form action="/weeks/<%= weekId %>/days/<%= dayId %>/entries/<%= entryId %>?_method=PUT" method="POST">
    <div>
        <label>
            Updated Entry: 
            <textarea name="content"></textarea>
        </label>
    </div>
    <div>
        <label>
            Updated Category: 
            <input type="text" name="category">
        </label>
    </div>
    <div>
        <input type="submit" name="" value="Update Entry" />
    </div>
</form>

<%- include('../partials/footer') %>