<%- include('../partials/header') %>
<div class="center-section">
    <div class="heading">
        <h2>Create New Entry</h2>
    </div>
    <div class="container">
        <form action="/months/<%= monthId %>/weeks/<%= weekId %>/days/<%= dayId %>/entries" method="POST">
            <div class="first">
                <label>
                    <p>Entry:</p>                    
                    <textarea name="content"></textarea>
                </label>
            </div>
            <div class="second">
                <label>
                    <p>Category:</p>                     
                    <input type="text" name="category">
                </label>
            </div>
            <div>
                <input type="submit" name="" value="Add Entry" />
            </div>
        </form>
    </div>
</div>

<%- include('../partials/footer') %>