<%- include('../partials/header') %>

<form action="/weeks/<%= week._id %>/habits/<%= editHabit._id %>?_method=PUT" method="POST">
    <label>
        Updated Habit: 
        <input type="text" name="content" value="<%= editHabit.content %>">
    </label>
    <input type="submit" value="Update Habit" />
</form>

<%- include('../partials/footer') %>