<%- include('../partials/header') %>

<div class="center-section">
  <div class="heading">
    <h2>All Months</h2>
  </div>

  <div class="container">
    <ul>
      <% months.forEach(function(month) { %>
      <li>
        <a href="/months/<%= month._id; %>"><%= month.month %> <%= month.year %></a>
    
        <!-- <a class="submit-icon" href="/months/<!%= month._id%>/edit"><span title="Edit Month"><i class="fas fa-edit"></i></span></a> -->
        <form action="/months/<%= month._id%>?_method=DELETE" method="POST">
          <button class="submit-icon" type="submit"><span title="Delete Month"><i class="fas fa-trash-alt"></i></span></button>
        </form>
      </li>
      <% }); %>
    </ul>
    <div class="add-new">
      <a class="submit-icon" href="/months/new"><i class="fas fa-plus"></i> Add New</a>
    </div>

  </div>
</div>

  <%- include('../partials/footer') %>